/.bash_history
/.bash_logout
/.bashrc
/.cache
/.config
/.gitconfig
/.gnupg
/.local
/.pki
/.profile
/.ssh
/.sudo_as_admin_successful
/.vscode
/Desktop
/Documents
/Downloads
/Music
/Pictures
/Public
/Templates
/Videos
/snap